<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <script>
    const CHAT_ID = "<%= chatId %>"
    const USERNAME = "<%= username %>";
    const USERID = "<%= uid %>";
    console.log(CHAT_ID);
  </script>
  <script src="/socket.io/socket.io.js" defer></script>

  <script src="js/chatfunctions.js" defer></script>
  <script src="js/header.js" defer></script>
  <title>Document</title>
</head>
<body>
  <%- include("partials/header.ejs") %>
  <div class="container-fluid contentWrapper">
    <div class="row contentWrapper">
      <%- include("partials/sidebar.ejs") %>
      <div class="col-9 chatHolder" style="height: 100vh;">
          <div class="chat-messages">

          </div>
          <div class="formholder">
            <form id="chat-form">
              <input
                id="msg"
                type="text"
                placeholder="Enter Message"
                required
                autocomplete="off"
              />
              <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
            </form>
          </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
